<configuration>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %X{correlationId} %msg%n</pattern>
        </encoder>
    </appender>
    <springProperty scope="context" name="splunkUrl" source="splunk.url"/>
    <springProperty scope="context" name="splunkToken" source="splunk.token"/>
    <!-- Custom Splunk HTTP Appender -->
    <appender name="SPLUNK" class="org.example.config.SplunkHttpAppender">
        <url>${splunkUrl}</url>
        <token>${splunkToken}</token>
        <encoder>
            <pattern>{"time":"%d{UNIX_TIMESTAMP}","level":"%level","message":"%msg"}</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SPLUNK" />
    </root>
</configuration>
